body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: $sm-weight;
  font-size: $font-sm;
  letter-spacing: 0.04em;

  background-color: black;
  color: $secondary-color;

  min-width: 320px;
}

main {
  flex-grow: 1;
}
footer {
  flex-shrink: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}
